/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one, #two, #three, #four {
    position: absolute;
    width: 25%;
    padding: 5px;
    margin: 5px;
}

#one {
    left: 5px;
    border: 5px #4e00ff solid;
}

#two {
    right: 5px;
    border: 5px #008d00 solid;
}

#three {
    bottom: 5px;
    border: 5px #ffa600 solid;
}

#four {
    bottom: 5px;
    right: 5px;
    border: 5px #f6ff00 solid;
}

#link {
    margin: auto;
    width: max-content;
}

#link, #link a {
    text-align: center;
    background-color: #2f418e;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    color: #fff;
    text-decoration: none;
}